@import "tailwindcss";

:root {
	--font-sans: "Inter", sans-serif;
	--color-navbar: rgba(26, 11, 46, 1);
	--about-featured: rgba(26, 11, 46, 1);
	--why: rgba(35, 14, 61, 1);
	--card-bg: rgba(53, 17, 101, 0.4);
	--title-size: 2rem;
	--video-card-bg: rgba(37, 13, 68, 1);
	--icon-border-color:rgba(83, 60, 114, 1);
	--text-color-primary: rgba(255, 255, 255, 0.7);
	--text-color-secondary: rgba(255, 255, 255, 0.5);
}
